/* postcss-specificity disable */
.noop {
	background: #f00;
}
/* postcss-specificity enable */

.bar {
	color: #ef0;
}

/* postcss-specificity disable */
.noop2 {
	background: #f00;
}
/* postcss-specificity enable */
